/********* FONTS *********/
@import url("https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i,800,800i,900&display=swap");

body {
/*Typography stuff*/
  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: normal;
}

.profile_photo {
/*Box model stuff*/
  max-width: auto;
  height: 100%;
  border-radius: 50%;
}

.img {
  max-width: 100%;
  -webkit-transition: 0.3s;
}

/********* FONTS *********/
/********* FONTS *********/
/********* FONTS *********/
/********* FONTS *********/
