/********* FONTS *********/
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap");

/********* TAGS *********/
*,
::after,
::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-style: normal;
}

main {
  display: block;
}

h1,
h2,
h3,
h4,
h5 {
  color: #001d38;
  line-height: 1.5em;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  color: #4d4d4d;
  line-height: 28px;
  margin-bottom: 0.875rem;
  font-size: 1rem;
  font-weight: 300;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

a {
  background-color: transparent;
  color: #1f1f1f;
  text-decoration: none;
  transition: 0.3s;
  outline: medium none;
}

a:hover {
  text-decoration: underline;
}

a:focus {
  text-decoration: none;
  outline: none;
}

strong {
  font-size: 1.3em;
  font-weight: bolder;
}

button {
  line-height: 1.5;
  margin: 0px;
  font-family: inherit;
  font-size: 100%;
  text-transform: none;
  overflow: visible;
}

/********* CLASS *********/
.about_e_details h3 {
  color: #001d38;
  font-size: 3.125rem;
  font-weight: 700;
}

.about_e_details p {
  color: #727272;
  margin-top: 1.25rem;
  margin-bottom: 2.25rem;
  font-size: 0.9375rem;
  font-weight: 400;
}

.about_img {
  position: relative;
}

.about_title {
  color: #d1d2d3;
  top: -3.125rem;
  left: 32.5rem;
  line-height: 1;
  font-size: 4.75rem;
  font-weight: 800;
  text-align: center;
  position: relative;
}

.about_me {
  padding-top: 4.6875rem;
  padding-bottom: 9.375rem;
  position: relative;
}

.align-items-center {
  align-items: center !important;
}

.Appointment {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.book_btn a {
  background-color: #d464ef;
  color: #ffffff;
  padding: 0.875rem 2.375rem;
  border: 0.0625rem solid transparent;
  border-radius: 2.8125rem;
  font-size: 0.9375rem;
  font-weight: 500;
  text-align: center;
  text-decoration: capitalize;
  transition: 0.3s;
  cursor: pointer;
}

.book_btn a:hover {
  background-color: #ffffff;
  color: #d465ef;
  border: 0.0625rem solid #d465ef;
}

.book_btn1 a {
  background-color: #d465ef;
  color: #ffffff;
  max-width: 100%;
  margin: 0rem auto;
  padding: 0.875rem 2.375rem;
  border: 0.0625rem solid transparent;
  border-radius: 2.8125rem;
  text-align: center;
  text-transform: capitalize;
  transition: 0.3s;
  cursor: pointer;
}

.book_btn1 a:hover {
  background-color: #ffffff;
  color: #4d65ef;
  border: 0.0625rem solid #4d65ef;
}

/********* RESPONSIVE *********/
