/********* FONTS *********/
@import url("https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i,800,800i,900&display=swap");

/********* TAGS HTML *********/
*::-webkit-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

*::-ms-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

*::placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

::selection {
  background: #444444;
  color: #ffffff;
  text-shadow: none;
}

::-moz-selection {
  background: #444444;
  color: #ffffff;
  text-shadow: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Muli", sans-serif;
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Muli", sans-serif;
  color: #001d38;
}

h1 {
  font-size: 100%;
}

h3 {
  font-size: 24px;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #4d4d4d;
  margin-bottom: 13px;
  font-family: "Muli", sans-serif;
}

label {
  color: #7e7e7e;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}

/********* IDS *********/

/********* CLASSES *********/
.profile_photo {
  height: 100%;
  max-width: auto;
  border-radius: 50%;
}

.img {
  max-width: 100%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.card-img-top {
  height: 225px;
  width: 100%;
  max-width: 100%;
  display: block;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-55 {
  margin-bottom: 55px;
}

.mb-65 {
  margin-bottom: 65px;
}

.black-bg {
  background: #020c26 !important;
}

.white-bg {
  background: #ffffff;
}

.gray-bg {
  background: #f5f5f5;
}

.bg-img-1 {
  background-image: url(assets/images/slider-img-1.jpg);
}

.bg-img-2 {
  background-image: url(assets/images/bg-img-2.jpg);
}

.cta-bg-1 {
  background-image: url(assets/images/bg-img-3.jpg);
}

.overlay {
  position: relative;
  z-index: 0;
}

.overlay::before {
  position: absolute;
  content: "";
  background-color: #1f1f1f;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
}

.overlay2 {
  position: relative;
  z-index: 0;
}

.overlay2::before {
  position: absolute;
  content: "";
  background-color: #2c2c2c;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.6;
}

.overlay_03 {
  position: relative;
  z-index: 0;
}

.overlay_03::before {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #2c2c2c;
  opacity: 0.6;
  content: "";
  z-index: -1;
}

.bradcam_overlay {
  position: relative;
  z-index: 0;
}

.bradcam_overlay::before {
  position: absolute;
  content: "";
  background: -moz-linear-gradient(
    left,
    #5db2ff 0%,
    #65b4f9 24%,
    rgba(124, 185, 233, 0) 96%,
    rgba(125, 185, 232, 0) 100%
  );
  /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #5db2ff 0%,
    #65b4f9 24%,
    rgba(124, 185, 233, 0) 96%,
    rgba(125, 185, 232, 0) 100%
  );
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #5db2ff 0%,
    #65b4f9 24%,
    rgba(124, 185, 233, 0) 96%,
    rgba(125, 185, 232, 0) 100%
  );
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5db2ff', endColorstr='#007db9e8',GradientType=1 );
  /* IE6-9 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 1;
}

.section-padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

.pt-120 {
  padding-top: 120px;
}

.owl-carousel .owl-nav div {
  background: transparent;
  height: 50px;
  left: 0px;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 50px;
  color: #fff;
  background-color: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  left: 50px;
  font-size: 15px;
  line-height: 50px;
  border: 1px solid #787878;
  left: 150px;
}

.owl-carousel .owl-nav div.owl-next {
  left: auto;
  right: 150px;
}

.owl-carousel .owl-nav div.owl-next i {
  position: relative;
  right: 0;
}

.owl-carousel .owl-nav div.owl-prev i {
  position: relative;
  top: 0px;
}

.owl-carousel:hover .owl-nav div {
  opacity: 1;
  visibility: visible;
}

.owl-carousel:hover .owl-nav div:hover {
  color: #fff;
  background: #615cfd;
  border: 1px solid transparent;
}

.boxed-btn {
  background: #fff;
  color: #131313;
  display: inline-block;
  padding: 18px 44px;
  font-family: "Muli", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  border: 1px solid #615cfd;
  letter-spacing: 3px;
  text-align: center;
  color: #615cfd !important;
  text-transform: uppercase;
  cursor: pointer;
}

.boxed-btn:hover {
  background: #615cfd;
  color: #fff !important;
  border: 1px solid #615cfd;
}

.boxed-btn:focus {
  outline: none;
}

.boxed-btn.large-width {
  width: 220px;
}

.boxed-btn3 {
  background: #615cfd;
  color: #fff;
  display: inline-block;
  padding: 14px 38px;
  font-family: "Muli", sans-serif;
  font-size: 14px;
  font-weight: 500;
  border: 0;
  border: 1px solid transparent;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  text-align: center;
  color: #fff !important;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.boxed-btn3:hover {
  border: 1px solid #615cfd;
  color: #615cfd !important;
  background: transparent;
}

.boxed-btn3:focus {
  outline: none;
}

.boxed-btn3.large-width {
  width: 220px;
}

.boxed-btn4 {
  background: #615cfd;
  color: #fff;
  display: inline-block;
  padding: 14px 27px;
  font-family: "Muli", sans-serif;
  font-size: 16px;
  font-weight: 500;
  border: 0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  text-align: center;
  color: #fff !important;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  letter-spacing: 2px;
}

.boxed-btn4:hover {
  background: #615cfd;
  color: #fff !important;
}

.boxed-btn4:focus {
  outline: none;
}

.boxed-btn4.large-width {
  width: 220px;
}

.boxed-btn3-white {
  color: #fff;
  display: inline-block;
  padding: 13px 27px;
  font-family: "Muli", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  border: 1px solid #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  color: #fff !important;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  letter-spacing: 2px;
}

.boxed-btn3-white:hover {
  background: #28ae61;
  color: #fff !important;
  border: 1px solid transparent;
}

.boxed-btn3-white i {
  margin-right: 2px;
}

.boxed-btn3-white:focus {
  outline: none;
}

.boxed-btn3-white.large-width {
  width: 220px;
}

.boxed-btn3-green-2 {
  color: #615cfd !important;
  display: inline-block;
  padding: 14px 31px;
  font-family: "Muli", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  border: 1px solid #615cfd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  letter-spacing: 2px;
}

.boxed-btn3-green-2:hover {
  background: #615cfd;
  color: #fff !important;
  border: 1px solid transparent;
}

.boxed-btn3-green-2:focus {
  outline: none;
}

.boxed-btn3-green-2.large-width {
  width: 220px;
}

.boxed-btn2 {
  background: transparent;
  color: #fff;
  display: inline-block;
  padding: 18px 24px;
  font-family: "Muli", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  border: 1px solid #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.boxed-btn2:hover {
  background: #fff;
  color: #131313 !important;
}

.boxed-btn2:focus {
  outline: none;
}

.line-button::before {
  position: absolute;
  content: "";
  background: #919191;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
}

.line-button:hover {
  color: #009dff;
}

.line-button:hover::before {
  background: #009dff;
}

.line_btn {
  display: inline-block;
  font-size: 15px;
  color: #615cfd;
  border: 1px solid #615cfd;
  text-transform: capitalize;
  padding: 13px 34px;
  font-weight: 600;
}

.line_btn:hover {
  background: #615cfd;
  color: #fff;
}

.section_title span {
  position: relative;
  z-index: 3;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 3px;
  color: #001d38;
  text-transform: uppercase;
  display: block;
  padding-top: 14px;
}

.section_title span:before {
  position: absolute;
  height: 60px;
  width: 1px;
  background: #614cfd;
  content: "";
  left: 50%;
  bottom: 100%;
}

.section_title h3 {
  font-size: 50px;
  line-height: 62px;
  font-weight: 700;
  color: #001d38;
  position: relative;
  z-index: 0;
  padding-bottom: 15px;
}

.section_title p {
  font-size: 16px;
  color: #727272;
  line-height: 28px;
  margin-bottom: 0px;
  font-weight: 400;
}

.section_title.white_text span {
  color: #ffffff;
}

.section_title.white_text span:before {
  display: none;
}

.slicknav_menu .slicknav_nav {
  background: #fff;
  float: right;
  margin-top: 0;
  padding: 0;
  width: 95%;
  padding: 0;
  border-radius: 0px;
  margin-top: 5px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 11px;
}

.slicknav_menu .slicknav_nav a:hover {
  background: transparent;
  color: #5db2ff;
}

.slicknav_menu .slicknav_nav a.active {
  color: #5db2ff;
}

.slicknav_menu .slicknav_nav .slicknav_btn {
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: -40px;
  position: relative;
  z-index: 99;
  border: 1px solid #ddd;
  top: 3px;
  right: 5px;
  top: -36px;
}

.slicknav_menu .slicknav_nav .slicknav_btn .slicknav_icon {
  margin-right: 6px;
  margin-top: 3px;
  position: relative;
  padding-bottom: 3px;
  top: -11px;
  right: -5px;
}

.slicknav_nav .slicknav_arrow {
  float: right;
  font-size: 22px;
  position: relative;
  top: -9px;
}

.slicknav_btn {
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
  z-index: 99;
  border: none;
  border-radius: 3px;
  top: 5px;
  padding: 5px;
  right: 0;
  margin-top: -5px;
  top: -29px;
  right: 5px;
}

.header-area {
  left: 0px;
  right: 0px;
  width: 100%;
  top: 0px;
  z-index: 99;
  position: absolute;
}

.header-area .main-header-area {
  padding: 20px 200px;
  background: #ffffff;
  background: transparent;
}

.header-area .main-header-area.details_nav_bg {
  background: #727272;
  padding-bottom: 0;
}

.header-area .main-header-area .logo-img {
  text-align: center;
}

.header-area .main-header-area .appointment {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: flex-end;
}

.header-area .main-header-area .appointment .search_button a i {
  color: #e8e8e8;
}

.header-area .main-header-area .appointment .social_links ul li {
  display: inline-block;
}

.header-area .main-header-area .appointment .social_links ul li a {
  color: #a8a7a0;
  margin: 0 10px;
  font-size: 15px;
}

.header-area .main-header-area .appointment .social_links ul li a:hover {
  color: #fff;
}

.header-area .main-header-area .appointment .book_btn {
  margin-left: 30px;
}

.header-area .main-header-area .appointment .book_btn a {
  background: #d465ef;
  padding: 12px 26px;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid transparent;
  color: #fff;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.header-area .main-header-area .appointment .book_btn a:hover {
  background: #d465ef;
  color: #fff;
  border: 1px solid #d465ef;
}

.header-area .main-header-area .main-menu {
  text-align: center;
  padding: 12px 0px;
}

.header-area .main-header-area .main-menu ul li {
  display: inline-block;
  position: relative;
  margin: 0px 10px;
}

.header-area .main-header-area .main-menu ul li a {
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 400;
  display: inline-block;
  padding: 0px 0px 0px 0px;
  font-family: "Muli", sans-serif;
  position: relative;
}
.header-area .main-header-area .main-menu ul li a i {
  font-size: 9px;
}
.header-area .main-header-area .main-menu ul li a:hover::before {
  opacity: 1;
  transform: scaleX(1);
}

.header-area .main-header-area .main-menu ul li a.active::before {
  opacity: 1;
  transform: scaleX(1);
}

.header-area .main-header-area .main-menu ul li .submenu {
  position: absolute;
  left: 0;
  top: 160%;
  background: #fff;
  width: 200px;
  z-index: 2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.02);
  opacity: 0;
  visibility: hidden;
  text-align: left;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.header-area .main-header-area .main-menu ul li .submenu li {
  display: block;
}

.header-area .main-header-area .main-menu ul li .submenu li a {
  padding: 10px 15px;
  position: inherit;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: block;
  color: #000;
}

.header-area .main-header-area .main-menu ul li .submenu li a::before {
  display: none;
}

.header-area .main-header-area .main-menu ul li .submenu li:hover a {
  color: #000;
}

.header-area .main-header-area .main-menu ul li:hover > .submenu {
  opacity: 1;
  visibility: visible;
  top: 150%;
}

.header-area .main-header-area .main-menu ul li:hover > a::before {
  opacity: 1;
  transform: scaleX(1);
}

.header-area .main-header-area .main-menu ul li:first-child a {
  padding-left: 0;
}

.header-area .main-header-area.sticky {
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: -70px;
  left: 0;
  right: 0;
  z-index: 990;
  transform: translateY(70px);
  transition: transform 500ms ease, background 500ms ease;
  -webkit-transition: transform 500ms ease, background 500ms ease;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.96);
  background: #000;
}

.header-area .main-header-area.sticky .main-menu {
  padding: 0;
}

.header-area .main-header-area.sticky .header_bottom_border {
  border-bottom: none;
}

.header-area .main-header-area.sticky .header_bottom_border.white_border {
  border-bottom: none !important;
}

.header-area .header-top_area {
  padding: 12px 0;
  background: rgba(44, 44, 44, 0.5);
}

.header-area .header-top_area .social_media_links a {
  font-size: 15px;
  color: #fff;
  margin-right: 12px;
}

.header-area .header-top_area .social_media_links a:hover {
  color: #28ae60;
}

.header-area .header-top_area .short_contact_list {
  text-align: right;
}

.header-area .header-top_area .short_contact_list ul li {
  display: inline-block;
}

.header-area .header-top_area .short_contact_list ul li a {
  font-size: 13px;
  color: #fff;
  margin-left: 50px;
}

.header-area .header-top_area .short_contact_list ul li a i {
  color: #28ae60;
  margin-right: 7px;
}

.header_bottom_border {
  border-bottom: 1px solid #4b4e50;
  padding-bottom: 22px;
}

.header_bottom_border.white_border {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
}

.slider_bg_1 {
  background-image: url(assets/images/banner.png);
}

/********* MEDIA 767 *********/
@media (max-width: 767px) {
  .header-area {
    padding-top: 0px;
  }
  .header-area .main-header-area {
    padding: 10px 0px;
    background: #2c2c2c;
  }
  .header-area .main-header-area.details_nav_bg {
    padding-bottom: 10px;
  }
  .header-area .main-header-area .logo-img {
    text-align: left;
  }
  .header-area .main-header-area .logo-img img {
    width: 70px;
  }
  .mobile_menu {
    position: absolute;
    right: 0px;
    width: 100%;
    z-index: 9;
  }
  .mb-50 {
    margin-bottom: 50px;
  }
  .section_title h3 {
    font-size: 30px;
    line-height: 36px;
  }
  .section_title h3 br {
    display: none;
  }
  .section_title p br {
    display: none;
  }
  .slicknav_menu .slicknav_nav a i {
    display: none;
  }
  .slicknav_menu {
    margin-right: 0px;
  }
  .header-area .main-header-area .main-menu ul li a i {
    display: none !important;
  }
  .header-area .main-header-area.sticky {
    padding: 10px 0px;
  }
  .header-area .header-top_area .social_media_links {
    text-align: center;
  }
  .header-area .header-top_area .short_contact_list {
    text-align: center;
  }
  .header-area .header-top_area .short_contact_list ul li a {
    margin-left: 0px;
    margin: 0px 5px;
  }
  .header_bottom_border.white_border {
    padding: 0px;
    border-bottom: none;
  }
  .header_bottom_border.white_border {
    padding: 0px;
    border-bottom: none !important;
  }
  .header_bottom_border {
    padding: 0px;
    border-bottom: none;
  }
}

/********* MEDIA 768 A 991 *********/
@media (min-width: 768px) and (max-width: 991px) {
  .header-area {
    padding-top: 0px;
  }
  .header-area .main-header-area {
    padding: 10px 15px;
    background: #2c2c2c;
  }
  .header-area .main-header-area .logo-img {
    text-align: left;
  }
  .header-area .main-header-area .logo-img img {
    width: 70px;
  }
  .section_title h3 {
    font-size: 36px;
    line-height: 42px;
  }
  .slicknav_menu .slicknav_nav a i {
    display: none;
  }
  .header-area .main-header-area .main-menu ul li a i {
    display: none !important;
  }
  .header-area .main-header-area.sticky {
    padding: 10px 0px;
  }
}

/********* MEDIA 992 A 1200 *********/
@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .main-header-area {
    padding: 25px 0px;
  }
  .header-area .main-header-area .logo-img {
    text-align: left;
  }
  .header-area .main-header-area .appointment .search_button {
    margin-right: 15px;
  }
  .header-area .main-header-area .appointment .book_btn {
    margin-left: 0px;
  }
  .header-area .main-header-area .appointment .book_btn a {
    padding: 12px 20px;
  }
}

/********* MEDIA 1200 A 1500 *********/
@media (min-width: 1200px) and (max-width: 1500px) {
  .header-area .main-header-area {
    padding: 25px 0px;
  }
  .header-area .main-header-area .appointment .search_button {
    margin-right: 15px;
  }
  .header-area .main-header-area .appointment .book_btn {
    margin-left: 0px;
  }
  .header-area .main-header-area .main-menu ul li a {
    font-size: 15px;
  }
}

/********* TAGS & IDS *********/

/********* TAGS & CLASSES *********/
a,
.button {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #1f1f1f;
  outline: medium none;
}

a:focus,
.button:focus,
button:focus {
  text-decoration: none;
  outline: none;
}

a:focus {
  text-decoration: none;
}

a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
  text-decoration: none;
}
